/PollTrackerApp.class
/PollTrackerController.class
/SetupPollTrackerController.class
/Factory.class
/Party.class
/Poll.class
/PollList.class
/SeatComparator.class
/TextApplication.class
/VoteComparator.class
